modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://atmaningbrrrdfiajzcy.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0bWFuaW5nYnJycmRmaWFqemN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NDQwNzUsImV4cCI6MjA4ODQyMDA3NX0.wJaPWMap69Cl7gi8dm6X6nvmemq7-c6UK7arAs9k7lQ"
VITE_SUPABASE_PROJECT_ID = "atmaningbrrrdfiajzcy"
VITE_PAYSTACK_PUBLIC_KEY = "pk_live_42f8e9c789fef1daff7aa501bb6b9860af389ca4"
